LOCAL_DOMAIN=${mastodon_domain}
SINGLE_USER_MODE=true
SECRET_KEY_BASE=87e89807e8ddf6c8ff34aaf50204420e0d277c6036ed2b75584e8a0503f03b9a793003a5184a12deb224ea31aaba91695bcfbfdc6f1a9ef0dc54094550e243f4
OTP_SECRET=d361111b873d192fc9ec7ebc92c69d6b8be14c302df90216ab9995173dc3956235ae02ae1fdbcf36d56f9c130724c6c306f57bde2bd1eb8db63d542c948adc4b
VAPID_PRIVATE_KEY=25PX7dT_Y7xhDiBNPa4JB8zS09veezspMa0r0UYEBxE=
VAPID_PUBLIC_KEY=BDNhC7f2IaTVwLHhwC21K2RfZJe_X0QU3UGsQj_cd32sVa1xqUb582BCGwg8MGastUmIvKh2Z_hFH-xlf1Coink=
DB_HOST=/var/run/postgresql
DB_PORT=5432
DB_NAME=mastodon
DB_USER=mastodon
DB_PASS=0rangeTigerBeard.
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
SMTP_SERVER=localhost
SMTP_PORT=25
SMTP_AUTH_METHOD=none
SMTP_OPENSSL_VERIFY_MODE=none
SMTP_ENABLE_STARTTLS=auto
SMTP_FROM_ADDRESS=monkeyninja@gmail.com
IP_RETENTION_PERIOD=31556952
SESSION_RETENTION_PERIOD=31556952